/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#wrapper {
  position: relative;
  height: 100dvh; /* Have to use "dvh" (dynamic vieport height) to avoid issue with mobile browser url window blocking part of map */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#wrapper::before {
  content: "";
  background-image: url("../public/assets/images/Richmond-James-river-tree.jpeg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
